{% extends 'base.html' %}

{% block title %}
Add
{% endblock %}
{% block section %}
		<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url({{ url_for('static', filename='images/heading-pages-06.jpg') }}">
			<h2 class="l-text2 t-center">
				ADD
			</h2>
		</section>

		<!-- content page -->
		<section class="bgwhite p-t-66 p-b-60">
			<div class="container">
				<div class="row">
					<div class="col-md-6 p-b-30">
						<form class="leave-comment" method="post" action="{{ url_for('add') }}" id="form" enctype="multipart/form-data">
							<h4 class="m-text26 p-b-36 p-t-15">
								Add Product
							</h4>
							<div class="bo4 of-hidden size15 m-b-20">
                                {{ form.csrf_token }}
								<input class="sizefull s-text7 p-l-22 p-r-22" type="text" name="name" placeholder="Name of Product">
							</div>

							<div class="bo4 of-hidden size15 m-b-20">
								<input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="quantity" placeholder="How many">
							</div>

							<div class="bo4 of-hidden size15 m-b-20">
								<input class="sizefull s-text7 p-l-22 p-r-22" type="number" name="price" placeholder="Price">
							</div>
							<div class="bo4 of-hidden size15 m-b-20">
								<input class="sizefull s-text7 p-l-22 p-r-22" type="file" name="image">
							</div>
							<div class="w-size25">
								<!-- Button -->
								<button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4">
									Send
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
		<!-- Footer -->