{% extends 'base.html' %}

<!-- Title Page -->
<!-- Cart -->
{% block title %}
    Cart
{% endblock %}
{% block section %}
    <section class="cart bgwhite p-t-70 p-b-100">
        <div class="container">
            <!-- Cart item -->
            <div class="container-table-cart pos-relative">
                <div class="wrap-table-shopping-cart bgwhite">
                    <table class="table-shopping-cart">
                        <tr class="table-head">
                            <th class="column-1"></th>
                            <th class="column-2">Product</th>
                            <th class="column-3">Price</th>
                            <th class="column-4 p-l-70">Quantity</th>
                            <th class="column-4">Available</th>
                            <th class="column-5">Total</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
                <div class="size10 trans-0-4 m-t-10 m-b-10">
                    <!-- Button -->
                    <B>ALL TOTAL</B>
                </div>
                <p class="column-5" id="total">$500000 </p>
            </div>

            <div class="flex-w flex-sb-m p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
                <div class="size10 trans-0-4 m-t-10 m-b-10">
                    <!-- Button -->
                    <button class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
                        Update Cart
                    </button>
                </div>
            </div>

            <!-- Total -->

        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        var cartItems = JSON.parse(localStorage.getItem('items'));
        var hold = document.getElementsByTagName('tbody')[0]
        if (cartItems.length > 1){            
            for (i=0; i<cartItems.length; i++){                            
            var table_row = document.createElement('tr');
            var column_1 = document.createElement('td');
            var cart_img = document.createElement('div');
            var img = document.createElement('img');      
            img.src = "/static/img/" + cartItems[i][4]
            img.alt = 'IMG-PRODUCT'
            cart_img.appendChild(img)
            cart_img.className = "cart-img-product b-rad-4 o-f-hidden"            
            column_1.appendChild(cart_img)
            column_1.className = "column-1"
            table_row.appendChild(column_1)
            table_row.className = "table-row"
            var column_2 = document.createElement("td");
            column_2.className = "column-2"
            column_2.innerText = cartItems[i][1]
            table_row.appendChild(column_2)
            var column_3 = document.createElement("td");
            column_3.className = "column-3";
            column_3.innerHTML = "$<span>" + cartItems[i][3]+ "</span>.00"
            table_row.appendChild(column_3);
            var column_4 = document.createElement("td");
            column_4.className = "column-4";
            var div_btn = document.createElement("div");
            div_btn.className = "flex-w bo5 of-hidden w-size17";
            var bt_down = document.createElement("button");
            bt_down.className = 'btn-num-product-down color1 flex-c-m size7 bg8 eff2';
            var bt_down_i = document.createElement('i');
            bt_down_i.className = 'fs-12 fa fa-minus';
            bt_down_i.setAttribute = 'aria-hidden=true';
            bt_down.appendChild(bt_down_i);
            div_btn.appendChild(bt_down);
            column_4.appendChild(div_btn);
            var item_val = document.createElement('input');
            item_val.className = "size8 m-text18 t-center num-product";
            item_val.value = 0;
            item_val.type = "number";
            item_val.name = "num-product"+cartItems[i][0]
            div_btn.appendChild(item_val);  
            column_4.appendChild(div_btn);
            var bt_up = document.createElement("button");
            bt_up.className = 'btn-num-product-up color1 flex-c-m size7 bg8 eff2';
            var bt_up_i = document.createElement('i');
            bt_up_i.className = 'fs-12 fa fa-plus';
            bt_up_i.setAttribute = 'aria-hidden=true';
            bt_up.appendChild(bt_up_i);
            div_btn.appendChild(bt_up);
            column_4.appendChild(div_btn);
            table_row.appendChild(column_4);
            var column_4b = document.createElement('td');
            column_4b.className = 'column-4';
            column_4b.id = cartItems[i][0];
            column_4b.innerText = cartItems[i][2];            
            table_row.appendChild(column_4b);
            var column_5 = document.createElement("td");
            column_5.className = "column-5";
            column_5.innerHTML = "$<span>0</span>.00"
            table_row.appendChild(column_5);
            hold.appendChild(table_row);
        }        
    }

</script>

{% endblock %}